{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Symbol</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quote.name }}</td>
                    <td>{{ quote.symbol }}</td>
                    <td>{{ quote.price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
